<div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li routerLink="news"
                routerLinkActive="text-danger" 
                class="nav-link text-white">News</li>
            <li routerLink="archive"
                routerLinkActive="text-danger" 
                class="nav-link text-white">Archive</li>
          </ul>
        </div>
    </nav>
</div>