<div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header"> {{ data.title }} </div>
    <div class="card-body">
      <h5 class="card-title"> {{ data.description }} </h5>
      <p class="card-text"> {{ data.content }} </p>
      <p class="card-text"> {{ data.author }} </p>
      <p class="card-text"> {{ data.date | date:'short' }} </p>
      <p class="card-text"> {{ data.archiveDate | date:'short' }} </p>
      <a href="#" class="btn btn-dark" *ngIf="!data.archiveDate"> Archive </a>
      <ng-template #deletebutton>
        <a href="#" class="btn btn-dark"> Delete </a>
      </ng-template>
    </div>
</div>