<div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header"> {{ data.title }} </div>
    <div class="card-body">
      <h5 class="card-title"> {{ data.description }} </h5>
      <p class="card-text"> {{ data.content }} </p>
      <p class="card-text"> {{ data.author }} </p>
      <p class="card-text"> {{ data.date | date:'short' }} </p>
      <p class="card-text"> {{ data.archiveDate | date:'short' }} </p>
      <div class="text-center">
        <button (click)="archiveNew(data._id)" type="button" class="btn btn-dark" *ngIf="!data.archiveDate; else deletebutton"> Archive </button>
        <ng-template #deletebutton>
          <button (click)="deleteNew(data._id)"type="button" class="btn btn-outline-danger"> Delete </button>
        </ng-template>
      </div>
    </div>
</div>